<footer>
  <mat-toolbar class="toolbar" color="primary" >
    <mat-toolbar-row class="footer-list footer-row ">
      <div class="spacer"></div>
      <div class="footer-list-part">
        <a href="https://us.edu.pl" target="_blank">
        <img id="us-logo" class="logo-icon logo" src="assets/logo/logo-us.png" alt="logo us">
          <span>Uniwersytet Śląski w Katowicach</span>
        </a>
      </div>

      <div class="spacer"></div>

      <div class="footer-list-part">
        <a href="http://www.wiinom.us.edu.pl/wydział" target="_blank">
          <img id="wnsit-logo" class="logo-icon logo" src="assets/logo/logo-wnst.png" alt="logo wnsit">
          <span>Wydział Nauk Ścisłych i Technicznych</span>
        </a>
      </div>
      <div class="spacer"></div>

      <div class="footer-list-part"  >
        <a href="https://www.facebook.com/DziekanatWNST/" target="_blank">
          <img  id="fb-logo" class=" logo media" src="assets/logo/logo-fb.png" alt="logo fb"
                matTooltip="Dziekanat WNŚiT "
                matTooltipPosition="above">
        </a>
      </div>

      <div class="footer-list-part" >
        <a>
        <img id="yt-logo" class=" logo media" src="assets/logo/logo-yt.png" alt="logo yt"
             matTooltip="Zapraszamy wkrótce"
             matTooltipPosition="above">
        </a>
      </div>
      <div class="spacer"></div>
    </mat-toolbar-row>

    <mat-toolbar-row class="footer-row">
      <hr class="footer-hr">
    </mat-toolbar-row>

    <mat-toolbar-row class="footer-row">
      <p class="footer-cpyrght ">©copyrights: 2020 Uniwersytet Śląski w Katowicach </p>
    </mat-toolbar-row>

  </mat-toolbar>
</footer>
