<mat-toolbar class="toolbar" color="primary" class="mat-elevation-z3">
  <button [disableRipple]="true" mat-button class="logo-button" routerLink="/">
    <span inline=true class="title">Zakład Modelowania i Grafiki Komputerowej</span>
  </button>
  <div class="spacer"></div>
  <a mat-button routerLink="/">Strona główna</a>
  <a mat-button routerLink="research_topics">Tematyka badawcza</a>
  <a mat-button routerLink="lecturers">Pracownicy</a>
  <a mat-button routerLink="subjects">Przedmioty</a>
  <a mat-raised-button routerLink="about">Kontakt</a>
</mat-toolbar>
