<mat-toolbar class="toolbar" color="primary" class="mat-elevation-z5">
  <a class="title"> Zakład Modelowania i Grafiki Komputerowej</a>
  <div class="spacer"></div>
  <div class="button-row">
    <button mat-raised-button routerLink="/" class="mat-elevation-z3">Strona główna</button>
    <button mat-raised-button routerLink="research_topics" class="mat-elevation-z3">Tematyka badawcza</button>
    <button mat-raised-button routerLink="employee" class="mat-elevation-z3">Pracownicy</button>
    <button mat-raised-button routerLink="subjects" class="mat-elevation-z3">Przedmioty</button>
    <button mat-raised-button routerLink="/contact" class="mat-elevation-z5" color="accent">Kontakt</button>
  </div>
</mat-toolbar>
