
.spacer {
  flex: 1 1 auto;
}
.button-row{
  display: table-cell;
}
.button-row button {
  display: table-cell;
  margin-right: 10px;
}

.nav-bar-icon {
  padding-right: 20px;
}

.title {
  font-size: 28px;
}

.logo-icon {
  margin-right: 10px;
}
