<div class="researchPage">
  <mat-accordion>
    <div class="expansion-panel-container">
      <h3 class="header">Tematyka badawcza</h3>
      <mat-expansion-panel>

        <mat-expansion-panel-header class="researchTopics">

          <h4>„Metody wielorozdzielcze w grafice komputerowej i przetwarzaniu obrazów cyfrowych”</h4>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-content">
          Celem projektu jest opracowanie efektywnych metod wielorozdzielczych w zastosowaniu do dwóch dziedzin: grafiki
          komputerowej i przetwarzania obrazów cyfrowych. Podejście fraktalne i przez tzw. odwrotne schematy podziału
          (ang. inverse subdivision) umożliwi modelowanie i kodowanie fraktalne kształtów 2D i 3D oraz ich
          wielorozdzielczą reprezentację. Natomiast podejście falkowe w zastosowaniu do obrazów cyfrowych doprowadzi do
          nowych algorytmów ich przetwarzania, w szczególności odszumiania, wykrywania krawędzi, segmentacji, wyszukiwania
          szczególnych ich cech i w konsekwencji rozumienia ich treści.
          <p></p>
          <mat-divider></mat-divider>
          <p></p>
          <h4>Opis projektu:</h4>
          Projekt w części dotyczącej metod wielorozdzielczych obejmuje dwa zadania badawcze:
          <br>
          1. Modelowanie i kodowanie fraktalne kształtów 2D i 3D oraz ich wielorozdzielczą reprezentację,
          <br>
          2. Efektywną geometryczną aproksymację obrazów cyfrowych oraz ich przetwarzanie. Modelowanie i kodowanie
          fraktalne oparte zostanie na związku między współczynnikami IFS (Iterated Function System) a tzw. schematami
          podziałów (ang. subdivision) oraz powiązaniu ich z nowymi ideami przedstawionymi w 2006 roku przez Barnsleya w
          monografii „Superfractals”. Wielorozdzielczość reprezentacji obiektów graficznych uzyskana zostanie w oparciu o
          możliwość odwrócenia schematów podziałów (ang. inverse subdivision), przedstawioną przez Bartelsa w 2000 roku.
          Kodowanie i przetwarzanie obrazów cyfrowych oparte zostanie o nowoczesne narzędzie – falki geometryczne, które
          umożliwia analizę obrazów w sposób geometryczny, zbliżony do sposobu w jaki obraz odbierany jest przez System
          Ludzkiego Postrzegania. Dzięki temu podejściu można opracować niezwykle efektywne narzędzia do odszumiania,
          wykrywania krawędzi, segmentacji i kompresji. Ta cześć projektu stanowi kontynuację badań przedstawionych w
          rozprawie doktorskiej A. Lisowskiej. Badania w części związanej z wielorozdzielczym modelowaniem obiektów 3D
          będą opierały się na współpracy z prof. J.-L. Mari z Uniwersytetu w Marsylii. Natomiast w części dotyczącej
          przetwarzania obrazów cyfrowych na współpracy z prof. H. Führ oraz dr L. Demaret z Institute of Biomatics and
          Biometry w Monachium.
          <p></p>
          <mat-divider></mat-divider>
          <p></p>
          <h4>Zespół:</h4>
          Prof. dr hab. inż. Wiesław Kotarski
          <br>
          Dr hab. Agnieszka Lisowska
          <br>
          Dr Krzysztof Gdawiec
          <br>
          Mgr Rafał Domider
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header class="researchTopics">

          <h4> „Modelowanie struktur diagnostycznych”</h4>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-content">
          <p></p>
          <mat-divider></mat-divider>
          <p></p>
          <h4>Opis projektu:</h4>
          Diagnostyka wbudowana jest obecnie jedną z najważniejszych dziedzin, którą zajmują się projektanci sprzętu.
          Prowadzone prace skupiają się na modelowaniu struktur diagnostycznych z wykorzystaniem układów testowych
          ISCAS’85
          i ISCAS’89 dla układów jedno- i wielomodułowych. Głównym nurtem badań jest wykorzystanie sztucznej inteligencji,
          w
          tym algorytmów genetycznych, do optymalizacji i minimalizacji struktury diagnostycznej oraz efektywnej generacji
          testów. Prowadzone są również prace nad zwiększeniem efektywności algorytmów ewolucyjnych w zastosowaniach
          optymalizacyjnych i identyfikacyjnych. W kręgu zainteresowań znajduje się również wykorzystanie techniki
          kluczownych prądów do budowy sprzętowych elementów inteligencji obliczeniowej z grupy logiki rozmytej i sieci
          neuronowych.
          <p></p>
          <mat-divider></mat-divider>
          <p></p>
          <h4>Zespół:</h4>
          Dr Ireneusz Gościniak
          <br>
          Dr Miłosław Chodacki
        </div>
      </mat-expansion-panel>

    </div>

  </mat-accordion>
</div>
