<div class="center">
  <!--  <ul>-->
  <!--    <li *ngFor="let employee of employees">-->
  <!--      {{ employee.name }}-->
  <!--    </li>-->
  <!--  </ul>-->

  <mat-accordion>
    <div style="width: 80%; margin: auto">
      <h1> Lista pracowników</h1>
      <mat-expansion-panel *ngFor="let employee of employees">
        <mat-expansion-panel-header>
          <h1>{{employee.name }}</h1>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-content">
          <!--        <div class="mat-card" style="width: 60%; margin: auto">-->
          <!--          <h1>Imię nazwisko</h1>-->
          <br/>
          <h3><b>Miejsce pracy</b><br>
            {{ employee.place }}</h3>
          <mat-divider></mat-divider>
          <h3><b>Adres służbowy</b> <br>
            {{ employee.adress  }}</h3>
          <mat-divider></mat-divider>
          <h3><b>Numer pokoju</b> {{employee.room}}</h3>
          <mat-divider></mat-divider>
          <h3><b>Numer telefonu</b> {{employee.tel}}</h3>
          <mat-divider></mat-divider>
          <h3><b>Adres e-mail</b> {{employee.email}}</h3>
          <!--        </div>-->

          <div *ngIf="employee.site != null">
            <mat-divider></mat-divider>
            <h3><b>Strona internetowa</b> {{employee.site}}</h3>
          </div>
          <div *ngIf="employee.publications.length != 0">

            <mat-accordion>
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <h1>Lista publikacji </h1>
                </mat-expansion-panel-header>
                <div class="mat-expansion-panel-content">
                  <table mat-table [dataSource]="employee.publications" class="mytable-frame">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Id</th>
                      <td mat-cell *matCellDef="let element "> {{element.id | cast }} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="autor">
                      <th mat-header-cell *matHeaderCellDef> Autor</th>
                      <td mat-cell *matCellDef="let element"> {{element.Autor | cast}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="tytul">
                      <th mat-header-cell *matHeaderCellDef> Tytuł</th>
                      <td mat-cell *matCellDef="let element"> {{element.Tytul | cast }} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="rok">
                      <th mat-header-cell *matHeaderCellDef> Rok</th>
                      <td mat-cell *matCellDef="let element"> {{element.Rok | cast }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay ; sticky: true"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
                  </table>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>


          <!--          <mat-accordion>-->
          <!--            <mat-expansion-panel>-->
          <!--              &lt;!&ndash;          <mat-expansion-panel *ngFor="let publication of employee.publications">&ndash;&gt;-->
          <!--              <mat-expansion-panel-header>-->

          <!--              </mat-expansion-panel-header>-->
          <!--              &lt;!&ndash;            <mat-tree>&ndash;&gt;-->
          <!--              &lt;!&ndash;              <mat-tree-node> parent node </mat-tree-node>&ndash;&gt;-->
          <!--              &lt;!&ndash;              <mat-tree-node> &#45;&#45; child node1 </mat-tree-node>&ndash;&gt;-->
          <!--              &lt;!&ndash;              <mat-tree-node> &#45;&#45; child node2 </mat-tree-node>&ndash;&gt;-->
          <!--              &lt;!&ndash;            </mat-tree>&ndash;&gt;-->


          <!--              <div id="xd" *ngFor="let publication of employee.publications | keyvalue ">-->
          <!--                <h3><b>Autor</b> {{publication.autor}}</h3>-->
          <!--                <mat-divider></mat-divider>-->
          <!--                <h3><b>Tytuł </b> {{publication.tytul}}</h3>-->
          <!--                <mat-divider></mat-divider>-->
          <!--                <h3><b>Rok </b> {{publication.rok}}</h3>-->
          <!--                <mat-divider></mat-divider>-->
          <!--                <mat-divider></mat-divider>-->
          <!--              </div>-->
          <!--            </mat-expansion-panel>-->
          <!--          </mat-accordion>-->


        </div>
      </mat-expansion-panel>


    </div>
  </mat-accordion>
</div>
