<mat-accordion>

  <mat-card>
    <h1> Lista pracowników</h1>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h1>imię nazwisko</h1>
      </mat-expansion-panel-header>
      <div class="mat-card" style="width: 60%; margin: auto">
        <h1>Imię nazwisko</h1>
        <br/>
        <h3><b>Miejsce pracy</b><br>
          cos tam</h3>
        <mat-divider></mat-divider>
        <h3><b>Adres służbowy</b> <br>
          cos tam</h3>
        <mat-divider></mat-divider>
        <h3><b>Numer pokoju</b> cos tam</h3>
        <mat-divider></mat-divider>
        <h3><b>Numer telefonu</b> cos tam</h3>
        <mat-divider></mat-divider>
        <h3><b>Napisz e-mail</b> cos tam</h3>
      </div>
      <h1>Lista publikacji </h1>
    </mat-expansion-panel>
  </mat-card>
</mat-accordion>

