//
//.mat-form-field + .mat-form-field {
//  margin-left: 8px;
//}

.header {
  font-weight: bold;
  text-align: left;
  font-size: 150%;
}

h4 {
  font-weight: bold;
}

.expansion-panel-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

mat-expansion-panel {

  margin-top: 10px;
  margin-bottom: 10px;


}

.subjectPage {

  padding-top: 30px;
  min-height: 75%;
  background-color: #fafafa;
  align-content: center;
}

.mat-expansion-panel-content {
  text-align: justify;
}
mat-expansion-panel-header{
  padding-top: 10px;

}

