<mat-grid-list cols="2" rowHeight="1.2:1">


  <mat-grid-tile class="right-tile">
    <div id="cards">
      <mat-card>
        <div class="card-icon"><span class="material-icons">person</span></div>
        <div class="card-content">
          <h5>Kierownik Zakładu</h5>
          <mat-card-content>prof. dr hab. inż. Wiesław Kotarski</mat-card-content>
        </div>
      </mat-card>
      <p></p>
      <mat-card>
        <div class="card-icon"><span class="material-icons">person</span></div>
        <div class="card-content">
          <h5>Sekretariat</h5>
          <mat-card-content>mgr. Danuta Głownia</mat-card-content>
        </div>
      </mat-card>
      <p></p>
      <mat-card>
        <div class="card-icon "><span id="loc-icon" class="material-icons">location_on</span></div>
        <div class="card-content">
          <h5>Adres</h5>
          <mat-card-content>ul. Będzińska 38</mat-card-content>
          <mat-card-content>41-205 Sosnowiec</mat-card-content>
        </div>
      </mat-card>
      <p></p>
      <mat-card>
        <div></div>
        <div class="card-icon"><span class="material-icons">phone</span></div>
        <div class="card-content">
          <h5>Telefon</h5>
          <mat-card-content>32 3689 749</mat-card-content>
        </div>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
<!--    <div >-->
      <iframe id="map-frame"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2548.7044123315345!2d19.132770215802573!3d50.29744530625874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716da83f9e846e1%3A0xb2894d075e02f30f!2sB%C4%99dzi%C5%84ska%2039%2C%2041-205%20Sosnowiec!5e0!3m2!1spl!2spl!4v1589644494778!5m2!1spl!2spl"
              frameborder="0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0">

      </iframe>
<!--    </div>-->

  </mat-grid-tile>
</mat-grid-list>
